parameters:
    paths:
        - app/
        - database/factories/
        - database/seeders/

    level: max

    excludePaths:
        - app/Console/Commands/TestTemplatesCommand.php
        - vendor/

    ignoreErrors: []
